Micor.Remote.Service/Service References/RmoteSearchService/Search1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Analyzer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analyzed" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnalyzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnalyzerResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartialUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="jsonData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PartialUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PartialUpdateResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Count">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pagePerNo" type="xs:int" />
        <xs:element minOccurs="0" name="facets" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsTermSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortField" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pagePerNo" type="xs:int" />
        <xs:element minOccurs="0" name="facets" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EsTermSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EsTermSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacetsSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="facetsFields" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacetsSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FacetsSearchResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiveElement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="keyword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFiveElementResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetFiveElementResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoreLikeThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoreLikeThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMoreLikeThisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMoreLikeThis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SearchExpression" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="field" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pageNumber" type="xs:int" />
        <xs:element minOccurs="0" name="pagePerNo" type="xs:int" />
        <xs:element minOccurs="0" name="format" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPageMoreLikeThisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPageMoreLikeThisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexMappingGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IndexMappingGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IndexMappingGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleGet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="passWord" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SingleGetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SingleGetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendWhose">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendWhoseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecommendWhoseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnowledgeTrendAnalysis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="queryString" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="size" type="xs:int" />
        <xs:element minOccurs="0" name="fm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KnowledgeTrendAnalysisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KnowledgeTrendAnalysisResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="index" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="indexKey" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>